[Desktop Entry]
Encoding=UTF-8
Name=Elyacoin
GenericName=Elyacoin wallet
Name[uk]=Elyacoin
Name[ru]=Elyacoin
Name[pl]=Elyacoin
Name[be]=Elyacoin
Name[de]=Elyacoin
Name[es]=Elyacoin
Comment=Elyacoin wallet
Comment[uk]=Elyacoin wallet
Comment[ru]=Elyacoin wallet
Comment[pl]=Portfel Elyacoin
Comment[be]=Elyacoin wallet
Comment[de]=Elyacoin Brieftasche
Comment[es]=Elyacoin Monedero
Exec=elyacoin %U
Terminal=false
Type=Application
Icon=elyacoin
MimeType=x-scheme-handler/elyacoin;
Categories=Office;Finance;
Version=1.2.0
